page-edit-profile {

    .expand-wraper{
      height: 0;
      transition: 0.2s linear;

      //.input{
      //  height: 100%;
      //}
    }

    .expanded{
      height: 100px !important;
    }
}
